:root {
  --main-font: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --main-color: #5ab2ff;
  --second-color: #a0deff;
  --bg-color-trans: #a0deffcc;
  --dark-bg-color-trans: #242424cc;
  --thirth-color: #caf4ff;
  --card-color: #bcdce7;
  --highlight-color: #fff9d0;
  --color: rgba(255, 255, 255, 0.87);
  --bg-color: #242424;
  --dark-font-color: #213547;
  --dark-bg-color: #ffffff;
  --buttons-bg-color: #213547;
  --dark-buttons-bg-color: #5ab2ff;
  --dark-card-color: #292e30;
}
body {
  font-family: var(--main-font);
  margin: 0;
  font-size: 16px;
  color-scheme: light dark;
  color: var(--color);
  background-color: var(--bg-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}
a {
  font-weight: 500;
  color: var(--main-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--second-color);
}

button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--buttons-bg-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--second-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.container {
  width: 100%;
}
main {
  scroll-behavior: smooth;
}
section {
  margin: 0.5rem 0.75rem 2.5rem;
}
section h3 {
  color: var(--main-color);
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--dark-card-color);
  margin: 0;
  padding: 0.25rem;
  border-bottom: 1px solid var(--main-color);
}

.card img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}
.card figcaption,
.card h3 {
  text-align: center;
  font-weight: bold;
}
.card p {
  height: 4rem;
  overflow-y: hidden;
  margin: 0;
}
.card h3 {
  margin: 0.2rem 0 0.2rem;
}
.card-img {
  width: 11rem;
  margin-right: 1rem;
}
.card-data {
  width: 100%;
  margin: 0.25rem;
}

.panel {
  position: fixed;
  z-index: 998;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  overflow-x: hidden;
  /* Overflow: Para hacer que el contenido, los link del menú que desbordan, se pueda escrolear */
  overflow-y: auto;
  background-color: var(--dark-bg-color-trans);
  opacity: 0.9;
  visibility: hidden;
  transition: transform 0.3s ease, opacity 0.3s ease;
  /* De arriba */
  transform: translate(0, -100%);
  /* De abajo */
  transform: translate(0, 100%);
  /* De la derecha */
  transform: translate(100%, 0);
  /* De la izquierda */
  transform: translate(-100%, 0);
  /* De la abajo a la derecha */
  transform: translate(100%, 100%);
}

.panel.is-active {
  transform: translate(0, 0);
  opacity: 1;
  visibility: visible;
}

.panel-btn {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  right: 1vw;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
}

.menu {
  width: inherit;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.menu button {
  width: 22rem;
}

.menu a {
  padding: 1.5rem;
  width: inherit;
  display: block;
  font-size: 2rem;
  text-decoration: none;
  color: var(--main-color);
  transition: all 0.3s ease;
}

.menu a:hover {
  font-weight: bold;
  color: var(--second-color);
  background-color: var(--main-modal-color);
}
.logo-nav {
  display: none;
}

/*  Slides */

.slideshow-container {
  position: relative;
  max-width: 100%;
  max-height: 60vh;
  margin: auto;
  overflow: hidden;
}

.slide {
  display: none;
}

.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* footer */

footer {
  width: 100%;
  display: flex;
  height: 15vh;
  background-color: var(--dark-font-color);
  color: var(--dark-bg-color);
}
.footer-left {
  margin: 2rem;
  text-align: right;
}
.footer-left img {
  width: 150px;
}
.footer-right {
  margin: 2rem;
  text-align: left;
}

/*  - - Dialog - -  */

.dialog-login-modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #00000030;
  backdrop-filter: blur(0.4rem);
  top: 0;
  left: 0;
  overflow: auto;
  border: none;
}

.login-close-btn {
  position: relative;
  font-size: 2rem;
  font-weight: bold;
  align-self: flex-end;
  color: var(--main-color);
}

.modal-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95vw;
  height: 95vh;
  position: relative;
  overflow: hidden;

  animation-name: zoom;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.modal-box img {
  max-width: 30%;
  border-radius: 25%;
  display: block;
  margin: auto;
  padding: 1rem;
  margin-bottom: 1.5rem;
  min-width: 100px;
  max-width: 150px;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);
  border: 2px solid transparent;
  border-radius: 0.75rem;
  width: 18rem;
  height: 26rem;
  padding: 1rem;
}
.login-form:hover,
.login-form:active {
  border-color: var(--main-color);
}
.login-form h2 {
  margin: 0.5rem 0;
}
.login-input[type="text"],
.login-input[type="password"] {
  width: 80%;
  border: 2px solid var(--second-color);
  border-radius: 0.5rem;
  display: block;
  padding: 0.75rem 0.5rem;
  margin: 0.25rem 0;
  margin-bottom: 0.75rem;
  font-size: 1.25rem;
}

.modal-box .login-button {
  padding: 10px;
  font-size: 15px;
  display: block;
  width: fit-content;
  color: var(--bg-color);
  background-color: var(--main-color);
  margin: 16px 0;
}
.login-input[type="checkbox"] {
  margin-right: 2px;
  vertical-align: baseline; /*no effect for baseline*/
}

.modal-box .login-input {
  /*   width: 95%; */
  /*  display: block;
  margin: 10px auto; */
}

.modal-box .login-button {
  margin-top: 16px;
  cursor: pointer;
}
.login-input[type="checkbox"] {
  display: inline-block;
  width: auto;
  margin-left: 16px;
}

.modal-box a {
  color: #1483be;
  font-weight: 500;
  text-decoration: underline;
}
.modal-cont {
  display: block;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/*  - - - - - - - - - - -  */

@media (min-width: 576px) {
  .container {
    padding: 1rem;
    max-width: 100vw;
  }
  section {
    margin: 1rem 2rem 4rem;
  }
  .slideshow-container {
    max-height: 45vh;
  }
  .cards {
    margin: 0.75rem auto;
    max-width: 35rem;
  }
  .card img {
    width: 180px;
    height: 180px;
  }
  .card p {
    height: 5.5rem;
  }
  .card-data {
    padding-left: 1rem;
  }
}
@media (min-width: 768px) {
  .container {
    padding: 1rem;
    margin: 0 auto;
    max-width: 1150px;
  }
  .login-form {
    width: 35rem;
  }
  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 100%;
  }
  .card {
    display: flex;
    flex-direction: column;
    width: 18rem;
    height: 22rem;
    background-color: var(--dark-card-color);
    border: 2px solid transparent;
    border-radius: 0.75rem;
    margin: 0.75rem;
    padding: 1rem;
  }
  .card:hover,
  .card:active {
    border-color: var(--main-color);
    /* box-shadow: 5px 4px 4px 4px #91a7b485; */
  }
  .card-img {
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 0;
    max-width: 1400px;
  }
  .menu button {
    width: fit-content;
  }
  .panel {
    z-index: 997;
    position: relative;
    background-color: var(--dark-bg-color-trans);
    transform: translate(0, 0);
    opacity: 0.95;
    visibility: visible;
    padding: 0 0 10 0rem;
  }
  .panel-btn {
    display: none;
  }
  .menu {
    height: fit-content;
    flex-direction: row;
    justify-content: start;
    /* text-align: right; */
  }
  .menu a {
    font-size: 1.3rem;
    padding: 1.7rem;
  }
  .menu a:hover,
  .menu a.active {
    color: var(--second-color);
    background-color: var(--main-color);
  }
  .logo-nav {
    display: block;
  }
  .logo {
    display: none;
  }
  footer {
    max-width: 1400px;
  }
}

@media (prefers-color-scheme: light) {
  body {
    color: var(--dark-font-color);
    background-color: var(--dark-bg-color);
  }
  .dialog-login-modal {
    background-color: var(--dark-bg-color);
  }
  .panel {
    background-color: var(--bg-color-trans);
  }
  button {
    background-color: var(--dark-buttons-bg-color);
  }
  button:hover {
    border-color: var(--dark-font-color);
  }
  .card {
    background-color: var(--card-color);
  }
}
